<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.dong.kiemsoatxequansu">

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <!-- For Object Browser -->
    <uses-permission android:name="android.permission.INTERNET" />
    <application

        android:name=".app.App"
        android:allowBackup="true"
        android:icon="@drawable/ic_app"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:replace="android:icon">
        <activity android:name=".ui.splashscreen.SplashScreenActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".ui.main.MainActivity">

        </activity>

        <activity android:name=".ui.notebook.NoteBookActivity"
            android:parentActivityName=".ui.main.MainActivity"
            android:theme="@style/AppTheme.NoActionBar">

        </activity>



        <activity android:name=".ui.searchinfor.RecognizerLisenceVehileActivity"
            android:parentActivityName=".ui.main.MainActivity"
            android:theme="@style/AppTheme.NoActionBar">

        </activity>

        <activity android:name=".ui.searchinfor.SearchLicenseVehicleActivity"
            android:parentActivityName=".ui.main.MainActivity"
            android:theme="@style/AppTheme.NoActionBar">

        </activity>

        <activity android:name=".ui.searchinfor.InforVehicleActivity"
            android:parentActivityName=".ui.searchinfor.RecognizerLisenceVehileActivity"
            android:theme="@style/AppTheme.NoActionBar">

        </activity>

        <activity android:name=".ui.searchdrivinglicense.DrivingLicenseActivity"
            android:parentActivityName=".ui.main.MainActivity"
            android:theme="@style/AppTheme.NoActionBar">

        </activity>


    </application>

</manifest>